In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_temp = pd.read_html('https://en.wikipedia.org/wiki/Forbes_list_of_the_most_valuable_NBA_clubs')

In [3]:
df1 = df_temp[1]

In [4]:
df1

,Rank,Swing[a],Team,Territory,Value[b],Change[c],Debt[d],Revenue[e],Operating Income[f]
0,1,2.0,Golden State Warriors,California,$7.7 billion,91.2%,13%,$800 million,$250 million
1,2,1.0,New York Knicks,New York,$6.6 billion,630.6%,62%,$278 million,$92 million
2,3,1.0,Los Angeles Lakers,California,$6.4 billion,59%,1%,$465 million,$115 million
3,4,NaN,Boston Celtics,Massachusetts,$4.7 billion,42.9%,5%,$361 million,$326.5 million
4,5,3.0,Los Angeles Clippers,California,$4.65 billion,77.3%,2%,$362 million,$12 million
5,6,NaN,Chicago Bulls,Illinois,$4.6 billion,41.4%,4%,$352 million,$135 million
6,7,NaN,Dallas Mavericks,Texas,$4.5 billion,46.7%,3%,$364 million,$143 million
7,8,2.0,Houston Rockets,Texas,$4.4 billion,39.1%,6%,$350 million,$113 million
8,9,6.0,Philadelphia 76ers,Pennsylvania,4.3 billion,90.9%,4%,$345 million,$87 million
9,10,2.0,Toronto Raptors,Ontario,$4.1 billion,100%,32%,$305 million,$75 million
10,11,4.0,Phoenix Suns,Arizona,$4 billion,80%,9%,$302 million,$87 million
11,12,2.0,Miami Heat,Florida,$3.9 billion,71.4%,14%,$326 million,$83 million
12,13,1.0,Brooklyn Nets,New York,$3.85 billion,48.9%,8%,$405 million,â€“$34 million
13,14,2.0,Washington Wizards,"Washington, D.C.",$3.5 billion,61.3%,7%,$291 million,$90 million
14,22,1.0,Denver Nuggets,Colorado,$3.38 billion,40.4%,15%,$273 million,$67 million
15,15,7.0,Milwaukee Bucks,Wisconsin,$2.3 billion,70.4%,14%,$352 million,$51 million
16,16,2.0,Portland Trail Blazers,Oregon,$2.1 billion,31.3%,9%,$291 million,$81 million
17,17,8.0,Cleveland Cavaliers,Ohio,$2.05 billion,60.8%,11%,$325 million,$74 million
18,18,3.0,Sacramento Kings,California,$2.03 billion,28.9%,28%,$279 million,$29 million
19,19,NaN,Utah Jazz,Utah,$2.025 billion,42.1%,15%,$308 million,$58 million
20,20,7.0,San Antonio Spurs,Texas,$2 billion,23.1%,9%,$306 million,$99 million
21,21,3.0,Atlanta Hawks,Georgia,$1.975 billion,51.9%,13%,$282 million,$84 million
22,24,6.0,Oklahoma City Thunder,Oklahoma,$1.875 billion,27.1%,10%,$274 million,$129 million
23,25,2.0,Orlando Magic,Florida,$1.85 billion,39.65,11%,$272 million,$98 million
24,26,6.0,Indiana Pacers,Indiana,$1.8 billion,28.6%,14%,$264 million,$65 million
25,27,1.0,Charlotte Hornets,North Carolina,$1.7 billion,39.4%,12%,$269 million,$94 million
26,28,1.0,Minnesota Timberwolves,Minnesota,$1.67 billion,32.5%,14%,$271 million,$87 million
27,29,1.0,Memphis Grizzlies,Tennessee,$1.65 billion,37.5%,22%,$272 million,$107 million
28,30,1.0,New Orleans Pelicans,Louisiana,$1.6 billion,31.1%,14%,$268 million,$94 million

In [5]:
df1.drop({'Rank', 'Swing[a]', 'Change[c]', 'Debt[d]'}, inplace = True, axis = 1)

In [6]:
df1.rename(columns={'Value[b]': 'Value', 'Revenue[e]': 'Revenue', 'Operating Income[f]': 'Operating Income'}, inplace=True)

In [7]:
df1['Sport'] = 'Basketball'
df1['League'] = 'NBA'
df1.insert(loc=1, column='Country', value='United States')

In [8]:
df1['Value'] = df1['Value'].str.replace('4.3 billion', '$4.3 billion')

In [9]:
df1

,Team,Country,Territory,Value,Revenue,Operating Income,Sport,League
0,Golden State Warriors,United States,California,$7.7 billion,$800 million,$250 million,Basketball,NBA
1,New York Knicks,United States,New York,$6.6 billion,$278 million,$92 million,Basketball,NBA
2,Los Angeles Lakers,United States,California,$6.4 billion,$465 million,$115 million,Basketball,NBA
3,Boston Celtics,United States,Massachusetts,$4.7 billion,$361 million,$326.5 million,Basketball,NBA
4,Los Angeles Clippers,United States,California,$4.65 billion,$362 million,$12 million,Basketball,NBA
5,Chicago Bulls,United States,Illinois,$4.6 billion,$352 million,$135 million,Basketball,NBA
6,Dallas Mavericks,United States,Texas,$4.5 billion,$364 million,$143 million,Basketball,NBA
7,Houston Rockets,United States,Texas,$4.4 billion,$350 million,$113 million,Basketball,NBA
8,Philadelphia 76ers,United States,Pennsylvania,$4.3 billion,$345 million,$87 million,Basketball,NBA
9,Toronto Raptors,United States,Ontario,$4.1 billion,$305 million,$75 million,Basketball,NBA
10,Phoenix Suns,United States,Arizona,$4 billion,$302 million,$87 million,Basketball,NBA
11,Miami Heat,United States,Florida,$3.9 billion,$326 million,$83 million,Basketball,NBA
12,Brooklyn Nets,United States,New York,$3.85 billion,$405 million,â€“$34 million,Basketball,NBA
13,Washington Wizards,United States,"Washington, D.C.",$3.5 billion,$291 million,$90 million,Basketball,NBA
14,Denver Nuggets,United States,Colorado,$3.38 billion,$273 million,$67 million,Basketball,NBA
15,Milwaukee Bucks,United States,Wisconsin,$2.3 billion,$352 million,$51 million,Basketball,NBA
16,Portland Trail Blazers,United States,Oregon,$2.1 billion,$291 million,$81 million,Basketball,NBA
17,Cleveland Cavaliers,United States,Ohio,$2.05 billion,$325 million,$74 million,Basketball,NBA
18,Sacramento Kings,United States,California,$2.03 billion,$279 million,$29 million,Basketball,NBA
19,Utah Jazz,United States,Utah,$2.025 billion,$308 million,$58 million,Basketball,NBA
20,San Antonio Spurs,United States,Texas,$2 billion,$306 million,$99 million,Basketball,NBA
21,Atlanta Hawks,United States,Georgia,$1.975 billion,$282 million,$84 million,Basketball,NBA
22,Oklahoma City Thunder,United States,Oklahoma,$1.875 billion,$274 million,$129 million,Basketball,NBA
23,Orlando Magic,United States,Florida,$1.85 billion,$272 million,$98 million,Basketball,NBA
24,Indiana Pacers,United States,Indiana,$1.8 billion,$264 million,$65 million,Basketball,NBA
25,Charlotte Hornets,United States,North Carolina,$1.7 billion,$269 million,$94 million,Basketball,NBA
26,Minnesota Timberwolves,United States,Minnesota,$1.67 billion,$271 million,$87 million,Basketball,NBA
27,Memphis Grizzlies,United States,Tennessee,$1.65 billion,$272 million,$107 million,Basketball,NBA
28,New Orleans Pelicans,United States,Louisiana,$1.6 billion,$268 million,$94 million,Basketball,NBA

In [10]:
df_temp = pd.read_html('https://en.wikipedia.org/wiki/Forbes_list_of_the_most_valuable_football_clubs')

In [11]:
df2 = df_temp[0]

In [12]:
df2

,Rank 2024,Rank 2023,Team,Country,Value in $ millions,% change on year,Debt as % of value,Revenue ($M),Operating income ($M)
0,1,1,Real Madrid,Spain,6600,9,15,873,76
1,2,2,Manchester United,England,6550,9,10,785,187
2,3,3,Barcelona,Spain,5600,2,31,840,-145
3,4,4,Liverpool,England,5370,2,3,719,102
4,5,5,Manchester City,England,5100,2,0,869,147
5,6,6,Bayern Munich,Germany,5000,3,0,781,84
6,7,7,Paris Saint-Germain,France,4400,4,2,754,-126
7,8,9,Tottenham Hotspur,England,3200,14,33,665,161
8,9,8,Chelsea,England,3130,1,20,620,0
9,10,10,Arsenal,England,2600,15,1,560,140
10,11,11,Juventus,Italy,2050,-5,2,459,11
11,12,12,Borussia Dortmund,Germany,1980,2,1,441,75
12,13,13,AtlÃ©tico Madrid,Spain,1600,4,7,382,20
13,14,14,Milan,Italy,1430,1,0,405,81
14,15,17,LAFC,United States,1200,20,11,140,9
15,16,15,West Ham United,England,1100,2,6,289,66
16,17,-,Inter Miami,United States,1030,72,15,118,8
17,18,16,Internazionale,Italy,1000,-3,44,398,39
18,19,18,LA Galaxy,United States,950,3,0,95,3
19,20,19,Atlanta United,United States,900,6,0,95,9

In [13]:
df2.drop({'Rank 2023','Rank 2024', '% change on year', 'Debt as % of value' }, inplace = True, axis = 1)

In [14]:
df2.rename(columns={'Value in $ millions': 'Value', 'Revenue ($M)': 'Revenue', 'Operating income ($M)': 'Operating Income'}, inplace=True)

In [15]:
df2['Sport'] = 'Association football'

df2['League'] = ('La Liga', 'Premier League', 'La Liga', 'Premier League', 'Premier League', 'Bundesliga', ' Ligue 1', 
                 'Premier League', 'Premier League', 'Premier League', 'Serie A', ' Bundesliga', 'La Liga', 'Serie A',
                 'MLS', 'Premier League', 'MLS', 'Serie A', 'MLS', 'MLS')

df2.insert(loc=2, column='Territory', value=['Madrid', 'Manchester', 'Barcelona', 'Liverpool', 'Manchester', 'Munich', 'Paris', 'London', 'London', 
                                            'London', 'Turin', 'Dortmund', 'Madrid', 'Milan', 'California', 'London', 'Florida', 'Milan', 'California', 
                                            'Georgia'])

In [16]:
df2['Value'] = df2['Value']/1000

In [17]:
df2['Value'] = '$' + df2['Value'].astype(str) + ' billion'
df2['Revenue'] = '$' + df2['Revenue'].astype(str) + ' million'
df2['Operating Income'] = '$' + df2['Operating Income'].astype(str) + ' million'

In [18]:
df2['Operating Income'] = df2['Operating Income'].str.replace('$-', '-$')

In [20]:
df2

,Team,Country,Territory,Value,Revenue,Operating Income,Sport,League
0,Real Madrid,Spain,Madrid,$6.6 billion,$873 million,$76 million,Association football,La Liga
1,Manchester United,England,Manchester,$6.55 billion,$785 million,$187 million,Association football,Premier League
2,Barcelona,Spain,Barcelona,$5.6 billion,$840 million,-$145 million,Association football,La Liga
3,Liverpool,England,Liverpool,$5.37 billion,$719 million,$102 million,Association football,Premier League
4,Manchester City,England,Manchester,$5.1 billion,$869 million,$147 million,Association football,Premier League
5,Bayern Munich,Germany,Munich,$5.0 billion,$781 million,$84 million,Association football,Bundesliga
6,Paris Saint-Germain,France,Paris,$4.4 billion,$754 million,-$126 million,Association football,Ligue 1
7,Tottenham Hotspur,England,London,$3.2 billion,$665 million,$161 million,Association football,Premier League
8,Chelsea,England,London,$3.13 billion,$620 million,$0 million,Association football,Premier League
9,Arsenal,England,London,$2.6 billion,$560 million,$140 million,Association football,Premier League
10,Juventus,Italy,Turin,$2.05 billion,$459 million,$11 million,Association football,Serie A
11,Borussia Dortmund,Germany,Dortmund,$1.98 billion,$441 million,$75 million,Association football,Bundesliga
12,AtlÃ©tico Madrid,Spain,Madrid,$1.6 billion,$382 million,$20 million,Association football,La Liga
13,Milan,Italy,Milan,$1.43 billion,$405 million,$81 million,Association football,Serie A
14,LAFC,United States,California,$1.2 billion,$140 million,$9 million,Association football,MLS
15,West Ham United,England,London,$1.1 billion,$289 million,$66 million,Association football,Premier League
16,Inter Miami,United States,Florida,$1.03 billion,$118 million,$8 million,Association football,MLS
17,Internazionale,Italy,Milan,$1.0 billion,$398 million,$39 million,Association football,Serie A
18,LA Galaxy,United States,California,$0.95 billion,$95 million,$3 million,Association football,MLS
19,Atlanta United,United States,Georgia,$0.9 billion,$95 million,$9 million,Association football,MLS

In [21]:
df_temp = pd.read_html('https://en.wikipedia.org/wiki/Forbes_list_of_the_most_valuable_NFL_teams')

In [22]:
df3 = df_temp[0]

In [23]:
df3

,Rank,Swing[a],Team,Territory,Value[b],Revenue[c],Operating income[d]
0,#1,NaN,Dallas Cowboys,Texas,$ 10.billion,$1.135 billion,$504 million
1,#2,NaN,New England Patriots,Massachusetts,$7 billion,$684 million,$206 million
2,#3,1.0,Los Angeles Rams,California,$6.9 billion,$686 million,$125 million
3,#4,3.0,New York Giants,New Jersey,$6.8 billion,$639 million,$216 million
4,#5,1.0,Chicago Bears,Illinois,$6.3 billion,$556 million,$203 million
5,#6,6.0,Las Vegas Raiders,Nevada,$6.2 billion,$729 million,$72 million
6,#7,1.0,New York Jets,New Jersey,$6.1 billion,$560 million,$126 million
7,#8,1.0,Washington Commanders,"Washington, D.C.",$6.05 billion,$545 million,$87 million
8,#9,4.0,San Francisco 49ers,California,$6 billion,$622 million,$152 million
9,#10,NaN,Philadelphia Eagles,Pennsylvania,$5.8 billion,$598 million,$187 million
10,#11,5.0,Miami Dolphins,Florida,$5.7 billion,$600 million,$111 million
11,#12,3.0,Houston Texans,Texas,$5.5 billion,$605 million,$195 million
12,#13,2.0,Denver Broncos,Colorado,$5.1 billion,$563 million,$103 million
13,#14,1.0,Seattle Seahawks,Washington,$5 billion,$555 million,$89 million
14,#15,2.0,Atlanta Falcons,Georgia,$4.7 billion,$544 million,$159 million
15,#16,3.0,Minnesota Vikings,Minnesota,$4.65 billion,$540 million,$99 million
16,#17,1.0,Baltimore Ravens,Maryland,$4.63 billion,$544 million,$108 million
17,#18,4.0,Pittsburgh Steelers,Pennsylvania,$4.625 billion,$548 million,$96 million
18,#19,9.0,Cleveland Browns,Ohio,$4.62 billion,$545 million,$104 million
19,#20,7.0,Green Bay Packers,Wisconsin,$4.6 billion,$577 million,$69 million
20,#21,8.0,Tennessee Titans,Tennessee,$4.4 billion,$516 million,$85 million
21,#22,1.0,Indianapolis Colts,Indiana,$4.35 billion,$545 million,$101 million
22,#23,1.0,Kansas City Chiefs,Missouri,$4.3 billion,$540 million,$95 million
23,#24,3.0,Tampa Bay Buccaneers,Florida,$4.2 billion,$531 million,$64 million
24,#25,4.0,Los Angeles Chargers,California,$4.15 billion,$518 million,$65 million
25,#26,4.0,Carolina Panthers,North Carolina,$4.1 billion,$530 million,$72 million
26,#27,2.0,New Orleans Saints,Louisiana,$4.075 billion,$533 million,$66 million
27,#28,5.0,Jacksonville Jaguars,Florida,$4 billion,$517 million,$110 million
28,#29,3.0,Arizona Cardinals,Arizona,$3.8 billion,$500 million,$83 million
29,#30,2.0,Buffalo Bills,New York,$3.7 billion,$503 million,$119 million
30,#31,NaN,Detroit Lions,Michigan,$3.6 billion,$495 million,$51 million
31,#32,2.0,Cincinnati Bengals,Ohio,$3.5 billion,$498 million,$104 million

In [24]:
df3.drop({'Rank','Swing[a]'}, inplace = True, axis = 1)

In [25]:
df3.rename(columns={'Value[b]': 'Value', 'Revenue[c]': 'Revenue', 'Operating income[d]': 'Operating Income'}, inplace=True)

In [26]:
df3['Sport'] = 'American football'
df3['League'] = 'NFL'
df3.insert(loc=1, column='Country', value='United States')

In [27]:
df3['Value'] = df3['Value'].str.replace('$ 10.billion', '$10 billion')

In [28]:
df3

,Team,Country,Territory,Value,Revenue,Operating Income,Sport,League
0,Dallas Cowboys,United States,Texas,$10 billion,$1.135 billion,$504 million,American football,NFL
1,New England Patriots,United States,Massachusetts,$7 billion,$684 million,$206 million,American football,NFL
2,Los Angeles Rams,United States,California,$6.9 billion,$686 million,$125 million,American football,NFL
3,New York Giants,United States,New Jersey,$6.8 billion,$639 million,$216 million,American football,NFL
4,Chicago Bears,United States,Illinois,$6.3 billion,$556 million,$203 million,American football,NFL
5,Las Vegas Raiders,United States,Nevada,$6.2 billion,$729 million,$72 million,American football,NFL
6,New York Jets,United States,New Jersey,$6.1 billion,$560 million,$126 million,American football,NFL
7,Washington Commanders,United States,"Washington, D.C.",$6.05 billion,$545 million,$87 million,American football,NFL
8,San Francisco 49ers,United States,California,$6 billion,$622 million,$152 million,American football,NFL
9,Philadelphia Eagles,United States,Pennsylvania,$5.8 billion,$598 million,$187 million,American football,NFL
10,Miami Dolphins,United States,Florida,$5.7 billion,$600 million,$111 million,American football,NFL
11,Houston Texans,United States,Texas,$5.5 billion,$605 million,$195 million,American football,NFL
12,Denver Broncos,United States,Colorado,$5.1 billion,$563 million,$103 million,American football,NFL
13,Seattle Seahawks,United States,Washington,$5 billion,$555 million,$89 million,American football,NFL
14,Atlanta Falcons,United States,Georgia,$4.7 billion,$544 million,$159 million,American football,NFL
15,Minnesota Vikings,United States,Minnesota,$4.65 billion,$540 million,$99 million,American football,NFL
16,Baltimore Ravens,United States,Maryland,$4.63 billion,$544 million,$108 million,American football,NFL
17,Pittsburgh Steelers,United States,Pennsylvania,$4.625 billion,$548 million,$96 million,American football,NFL
18,Cleveland Browns,United States,Ohio,$4.62 billion,$545 million,$104 million,American football,NFL
19,Green Bay Packers,United States,Wisconsin,$4.6 billion,$577 million,$69 million,American football,NFL
20,Tennessee Titans,United States,Tennessee,$4.4 billion,$516 million,$85 million,American football,NFL
21,Indianapolis Colts,United States,Indiana,$4.35 billion,$545 million,$101 million,American football,NFL
22,Kansas City Chiefs,United States,Missouri,$4.3 billion,$540 million,$95 million,American football,NFL
23,Tampa Bay Buccaneers,United States,Florida,$4.2 billion,$531 million,$64 million,American football,NFL
24,Los Angeles Chargers,United States,California,$4.15 billion,$518 million,$65 million,American football,NFL
25,Carolina Panthers,United States,North Carolina,$4.1 billion,$530 million,$72 million,American football,NFL
26,New Orleans Saints,United States,Louisiana,$4.075 billion,$533 million,$66 million,American football,NFL
27,Jacksonville Jaguars,United States,Florida,$4 billion,$517 million,$110 million,American football,NFL
28,Arizona Cardinals,United States,Arizona,$3.8 billion,$500 million,$83 million,American football,NFL
29,Buffalo Bills,United States,New York,$3.7 billion,$503 million,$119 million,American football,NFL
30,Detroit Lions,United States,Michigan,$3.6 billion,$495 million,$51 million,American football,NFL
31,Cincinnati Bengals,United States,Ohio,$3.5 billion,$498 million,$104 million,American football,NFL

In [29]:
df_temp = pd.read_html('https://en.wikipedia.org/wiki/Forbes_list_of_the_most_valuable_MLB_clubs')

In [30]:
df4 = df_temp[0]

In [33]:
df4

,Rank,Swing[a],Team,Territory,Value[b],Change[c],Debt[d],Revenue[e],Operating Income[f]
0,#1,NaN,New York Yankees,New York,$7.1 billion,54.3%,0%,$657 million,$16 million
1,#2,NaN,Los Angeles Dodgers,California,$4.8 billion,45.5%,9%,$581 million,$14 million
2,#3,NaN,Boston Red Sox,Massachusetts,$4.5 billion,40.6%,0%,$513 million,$72 million
3,#4,NaN,Chicago Cubs,Illinois,$4.1 billion,32.3%,10%,$451 million,$57 million
4,#5,NaN,San Francisco Giants,California,$3.7 billion,23.3%,4%,$421 million,$75 million
5,#6,NaN,New York Mets,New York,$2.9 billion,26.1%,16%,$374 million,â€“$138 million
6,#7,2.0,Los Angeles Angels,California,$2.7 billion,42.1%,0%,$371 million,$36 million
7,#8,4.0,Atlanta Braves,Georgia,$2.6 billion,52.9%,18%,$425 million,$51 million
8,#9,1.0,Philadelphia Phillies,Pennsylvania,$2.575 billion,35.5%,5%,$398 million,â€“$3.7 million
9,#10,3.0,St. Louis Cardinals,Missouri,$2.55 billion,21.4%,8%,$358 million,$43 million
10,#11,NaN,Houston Astros,Texas,$2.25 billion,25%,13%,$407 million,$44 million
11,#12,1.0,Texas Rangers,Texas,$2.225 billion,30.9%,31%,$366 million,$58 million
12,#13,2.0,Seattle Mariners,Washington,$2.2 billion,37.5%,9%,$363 million,$86 million
13,#14,2.0,Toronto Blue Jays,Ontario,$2.1 billion,40%,0%,$294 million,â€“$34 million
14,#15,1.0,Chicago White Sox,Illinois,$2.05 billion,28.1%,7%,$276 million,â€“$53 million
15,#16,6.0,Washington Nationals,"Washington, D.C.",$2 billion,11.1%,25%,$356 million,$45 million
16,#17,NaN,San Diego Padres,California,$1.75 billion,25%,17%,$324 million,â€“$53 million
17,#18,2.0,Baltimore Orioles,Maryland,$1.713 billion,31.8%,13%,$264 million,$57 million
18,#19,6.0,Milwaukee Brewers,Wisconsin,$1.605 billion,33.75%,9%,$294 million,$23 million
19,#20,3.0,Colorado Rockies,Colorado,$1.475 billion,22.9%,8%,$286 million,â€“$9.1 million
20,#21,3.0,Detroit Tigers,Michigan,$1.45 billion,11.5%,12%,$260 million,â€“$26 million
21,#22,NaN,Minnesota Twins,Minnesota,$1.39 billion,15.8%,20%,$267 million,â€“$27 million
22,#23,4.0,Arizona Diamondbacks,Arizona,$1.38 billion,6.2%,9%,$276 million,$30 million
23,#24,3.0,Pittsburgh Pirates,Pennsylvania,$1.32 billion,1.5%,11%,$262 million,$55 million
24,#25,1.0,Cleveland Guardians,Ohio,$1.3 billion,8.3%,8%,$268 million,$40 million
25,#26,3.0,Tampa Bay Rays,Florida,$1.25 billion,25%,10%,$248 million,$9.5 million
26,#27,1.0,Kansas City Royals,Missouri,$1.2 billion,20%,23%,$260 million,$33 million
27,#28,2.0,Cincinnati Reds,Ohio,$1.19 billion,8.2%,13%,$250 million,â€“$9.6 million
28,#29,2.0,Oakland Athletics,California,$1.18 billion,7.3%,13%,$212 million,$29 million
29,#30,NaN,Miami Marlins,Florida,$1 billion,0%,40%,$238 million,â€“$0.5 million

In [40]:
df4.drop({'Rank', 'Swing[a]', 'Change[c]', 'Debt[d]'}, inplace = True, axis = 1)

In [41]:
df4.rename(columns={'Value[b]': 'Value', 'Revenue[e]': 'Revenue', 'Operating Income[f]': 'Operating Income'}, inplace=True)

In [44]:
df4['Sport'] = 'Baseball'
df4['League'] = 'MLB'
df4.insert(loc=1, column='Country', value='United States')

In [53]:
df_temp = pd.read_html('https://en.wikipedia.org/wiki/Forbes_list_of_the_most_valuable_NHL_clubs')

In [61]:
df5 = df_temp[1]

In [66]:
df5

,Rank,Swing[a],Team,Territory,Value[b],Change[c],Debt[d],Revenue[e],Operating Income[f]
0,1,NaN,New York Rangers,New York,$2.2 billion,37.5%,1%,$249 million,$90 million
1,2,NaN,Toronto Maple Leafs,Ontario,$2 billion,33.3%,10%,$248 million,$116 million
2,3,NaN,Montreal Canadiens,Quebec,$1.85 billion,42.3%,12%,$239 million,$110 million
3,4,NaN,Chicago Blackhawks,Illinois,$1.5 billion,36.4%,7%,$222 million,$92 million
4,5,NaN,Boston Bruins,Massachusetts,$1.4 billion,51.4%,7%,$218 million,$57 million
5,6,NaN,Los Angeles Kings,California,$1.3 billion,60.5%,8%,$249 million,$88 million
6,7,6.0,Edmonton Oilers,Alberta,$1.275 billion,136.1%,6%,$230 million,$87 million
7,8,1.0,Philadelphia Flyers,Pennsylvania,$1.25 billion,56.3%,8%,$190 million,$35 million
8,9,1.0,Washington Capitals,"Washington, D.C.",$1.2 billion,65.5%,9%,$192 million,$55 million
9,10,NaN,Seattle Kraken,Washington,$1.05 billion,NaN,44%,$191 million,$67 million
10,11,3.0,Detroit Red Wings,Michigan,$1.03 billion,32.9%,9%,$187 million,$61 million
11,12,10.0,New York Islanders,New York,$1.02 billion,131.8%,32%,$181 million,$35 million
12,13,4.0,Vancouver Canucks,British Columbia,$1.01 billion,37.4%,12%,$187 million,$58 million
13,14,7.0,Tampa Bay Lightning,Florida,$1 billion,124.7%,14%,$187 million,$27 million
14,15,4.0,Pittsburgh Penguins,Pennsylvania,$0.99 billion,52.3%,20%,$187 million,$37 million
15,16,4.0,Vegas Golden Knights,Nevada,$0.965 billion,67.8%,16%,$198 million,$64 million
16,17,2.0,New Jersey Devils,New Jersey,$0.960 billion,110.9%,15%,$191 million,$37 million
17,18,4.0,Dallas Stars,Texas,$0.925 billion,76.2%,17%,$187 million,$43 million
18,19,2.0,St. Louis Blues,Missouri,$0.88 billion,89.2%,14%,$180 million,$56 million
19,20,4.0,Colorado Avalanche,Colorado,$0.86 billion,100%,32%,$178 million,$43 million
20,21,1.0,Calgary Flames,Alberta,$0.855 billion,90%,14%,$178 million,$41 million
21,22,6.0,Minnesota Wild,Minnesota,$0.85 billion,73.5%,19%,$169 million,$40 million
22,23,2.0,Nashville Predators,Tennessee,$0.81 billion,90.6%,19%,$169 million,$35 million
23,24,1.0,Ottawa Senators,Ontario,$0.8 billion,83.9%,25%,$157 million,$47 million
24,25,10.0,San Jose Sharks,California,$0.74 billion,45.1%,14%,$150 million,$6.7 million
25,26,8.0,Anaheim Ducks,California,$0.725 billion,57.6%,34%,$158 million,$44 million
26,27,NaN,Winnipeg Jets,Manitoba,$0.65 billion,56.6%,27%,$149 million,$22 million
27,28,2.0,Carolina Hurricanes,North Carolina,$0.64 billion,52.4%,23%,$159 million,$18 million
28,29,NaN,Columbus Blue Jackets,Ohio,$0.62 billion,93.8%,22%,$144 million,$31 million
29,30,2.0,Buffalo Sabres,New York,$0.61 billion,62.7%,21%,$143 million,$20 million
30,31,1.0,Florida Panthers,Florida,$0.55 billion,86.4%,30%,$137 million,$4.7 million
31,32,1.0,Utah Hockey Club,Utah,$0.45 billion,55.2%,69%,$127 million,$5.8 million

In [73]:
df5.drop({'Rank', 'Swing[a]', 'Change[c]', 'Debt[d]'}, inplace = True, axis = 1)

In [75]:
df5.rename(columns={'Value[b]': 'Value', 'Revenue[e]': 'Revenue', 'Operating Income[f]': 'Operating Income'}, inplace=True)

In [77]:
df5['Sport'] = 'Ice Hockey'
df5['League'] = 'NHL'
df5.insert(loc=1, column='Country', value='United States')

In [79]:
df5

,Team,Country,Territory,Value,Revenue,Operating Income,Sport,League
0,New York Rangers,United States,New York,$2.2 billion,$249 million,$90 million,Ice Hockey,NHL
1,Toronto Maple Leafs,United States,Ontario,$2 billion,$248 million,$116 million,Ice Hockey,NHL
2,Montreal Canadiens,United States,Quebec,$1.85 billion,$239 million,$110 million,Ice Hockey,NHL
3,Chicago Blackhawks,United States,Illinois,$1.5 billion,$222 million,$92 million,Ice Hockey,NHL
4,Boston Bruins,United States,Massachusetts,$1.4 billion,$218 million,$57 million,Ice Hockey,NHL
5,Los Angeles Kings,United States,California,$1.3 billion,$249 million,$88 million,Ice Hockey,NHL
6,Edmonton Oilers,United States,Alberta,$1.275 billion,$230 million,$87 million,Ice Hockey,NHL
7,Philadelphia Flyers,United States,Pennsylvania,$1.25 billion,$190 million,$35 million,Ice Hockey,NHL
8,Washington Capitals,United States,"Washington, D.C.",$1.2 billion,$192 million,$55 million,Ice Hockey,NHL
9,Seattle Kraken,United States,Washington,$1.05 billion,$191 million,$67 million,Ice Hockey,NHL
10,Detroit Red Wings,United States,Michigan,$1.03 billion,$187 million,$61 million,Ice Hockey,NHL
11,New York Islanders,United States,New York,$1.02 billion,$181 million,$35 million,Ice Hockey,NHL
12,Vancouver Canucks,United States,British Columbia,$1.01 billion,$187 million,$58 million,Ice Hockey,NHL
13,Tampa Bay Lightning,United States,Florida,$1 billion,$187 million,$27 million,Ice Hockey,NHL
14,Pittsburgh Penguins,United States,Pennsylvania,$0.99 billion,$187 million,$37 million,Ice Hockey,NHL
15,Vegas Golden Knights,United States,Nevada,$0.965 billion,$198 million,$64 million,Ice Hockey,NHL
16,New Jersey Devils,United States,New Jersey,$0.960 billion,$191 million,$37 million,Ice Hockey,NHL
17,Dallas Stars,United States,Texas,$0.925 billion,$187 million,$43 million,Ice Hockey,NHL
18,St. Louis Blues,United States,Missouri,$0.88 billion,$180 million,$56 million,Ice Hockey,NHL
19,Colorado Avalanche,United States,Colorado,$0.86 billion,$178 million,$43 million,Ice Hockey,NHL
20,Calgary Flames,United States,Alberta,$0.855 billion,$178 million,$41 million,Ice Hockey,NHL
21,Minnesota Wild,United States,Minnesota,$0.85 billion,$169 million,$40 million,Ice Hockey,NHL
22,Nashville Predators,United States,Tennessee,$0.81 billion,$169 million,$35 million,Ice Hockey,NHL
23,Ottawa Senators,United States,Ontario,$0.8 billion,$157 million,$47 million,Ice Hockey,NHL
24,San Jose Sharks,United States,California,$0.74 billion,$150 million,$6.7 million,Ice Hockey,NHL
25,Anaheim Ducks,United States,California,$0.725 billion,$158 million,$44 million,Ice Hockey,NHL
26,Winnipeg Jets,United States,Manitoba,$0.65 billion,$149 million,$22 million,Ice Hockey,NHL
27,Carolina Hurricanes,United States,North Carolina,$0.64 billion,$159 million,$18 million,Ice Hockey,NHL
28,Columbus Blue Jackets,United States,Ohio,$0.62 billion,$144 million,$31 million,Ice Hockey,NHL
29,Buffalo Sabres,United States,New York,$0.61 billion,$143 million,$20 million,Ice Hockey,NHL
30,Florida Panthers,United States,Florida,$0.55 billion,$137 million,$4.7 million,Ice Hockey,NHL
31,Utah Hockey Club,United States,Utah,$0.45 billion,$127 million,$5.8 million,Ice Hockey,NHL

In [81]:
df = pd.concat([df1, df2, df3, df4, df5], axis=0)

In [83]:
df = df.reset_index(drop=True)

In [85]:
df

,Team,Country,Territory,Value,Revenue,Operating Income,Sport,League
0,Golden State Warriors,United States,California,$7.7 billion,$800 million,$250 million,Basketball,NBA
1,New York Knicks,United States,New York,$6.6 billion,$278 million,$92 million,Basketball,NBA
2,Los Angeles Lakers,United States,California,$6.4 billion,$465 million,$115 million,Basketball,NBA
3,Boston Celtics,United States,Massachusetts,$4.7 billion,$361 million,$326.5 million,Basketball,NBA
4,Los Angeles Clippers,United States,California,$4.65 billion,$362 million,$12 million,Basketball,NBA
...,...,...,...,...,...,...,...,...
138,Carolina Hurricanes,United States,North Carolina,$0.64 billion,$159 million,$18 million,Ice Hockey,NHL
139,Columbus Blue Jackets,United States,Ohio,$0.62 billion,$144 million,$31 million,Ice Hockey,NHL
140,Buffalo Sabres,United States,New York,$0.61 billion,$143 million,$20 million,Ice Hockey,NHL
141,Florida Panthers,United States,Florida,$0.55 billion,$137 million,$4.7 million,Ice Hockey,NHL
142,Utah Hockey Club,United States,Utah,$0.45 billion,$127 million,$5.8 million,Ice Hockey,NHL

In [87]:
df.to_csv('Sports Teams Valuations.csv', index = True)