In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import csv

In [3]:
URL = 'https://fbref.com/en/comps/9/2023-2024/2023-2024-Premier-League-Stats'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')
soup = BeautifulSoup(soup.prettify(), 'html.parser' )

In [5]:
table= soup.find_all('table')[2]

In [7]:
table_titles = table.find_all('th')
table_titles = [tittle.text.strip() for tittle in table_titles]

In [9]:
df = pd.DataFrame( columns = table_titles[7:38])
index = table_titles[38:]

In [11]:
column_data = table.find_all('tr')[2:22]

for row in column_data:
    row_data = row.find_all('td')
    table_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = table_data

In [13]:
df.insert(0, 'Squad', index)

In [15]:
df

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Arsenal,25,25.0,58.2,38,418,"3,420",38.0,86,62,...,2.26,1.63,3.89,2.00,3.63,2.00,1.46,3.46,1.80,3.26
1,Aston Villa,31,26.9,53.1,38,418,"3,420",38.0,72,55,...,1.89,1.45,3.34,1.79,3.24,1.67,1.28,2.95,1.59,2.87
2,Bournemouth,30,25.7,44.4,38,418,"3,420",38.0,52,39,...,1.37,1.03,2.39,1.32,2.34,1.47,1.06,2.54,1.41,2.47
3,Brentford,28,26.6,45.2,38,418,"3,420",38.0,54,38,...,1.42,1.00,2.42,1.34,2.34,1.53,1.12,2.66,1.47,2.60
4,Brighton,30,25.9,59.8,38,418,"3,420",38.0,50,36,...,1.32,0.95,2.26,1.18,2.13,1.49,1.09,2.59,1.37,2.47
5,Burnley,31,24.5,47.4,38,418,"3,420",38.0,40,30,...,1.05,0.79,1.84,0.97,1.76,1.07,0.78,1.85,1.01,1.79
6,Chelsea,32,24.2,58.6,38,418,"3,420",38.0,76,51,...,2.00,1.34,3.34,1.71,3.05,1.96,1.35,3.31,1.71,3.06
7,Crystal Palace,26,26.7,42.3,38,418,"3,420",38.0,56,43,...,1.47,1.13,2.61,1.37,2.50,1.28,1.02,2.30,1.20,2.21
8,Everton,26,27.1,40.8,38,418,"3,420",38.0,40,17,...,1.05,0.45,1.50,1.00,1.45,1.42,1.00,2.43,1.36,2.36
9,Fulham,25,28.4,50.6,38,418,"3,420",38.0,54,40,...,1.42,1.05,2.47,1.37,2.42,1.34,0.99,2.33,1.30,2.29
10,Liverpool,30,26.3,61.3,38,418,"3,420",38.0,80,60,...,2.11,1.58,3.68,1.95,3.53,2.31,1.68,3.98,2.12,3.79
11,Luton Town,28,26.7,42.4,38,418,"3,420",38.0,49,33,...,1.29,0.87,2.16,1.16,2.03,1.12,0.78,1.89,1.02,1.79
12,Manchester City,25,26.6,65.2,38,418,"3,420",38.0,94,69,...,2.47,1.82,4.29,2.24,4.05,2.12,1.58,3.70,1.92,3.50
13,Manchester Utd,31,26.1,50.6,38,418,"3,420",38.0,57,36,...,1.50,0.95,2.45,1.34,2.29,1.49,1.06,2.54,1.34,2.40
14,Newcastle Utd,32,27.2,52.2,38,418,"3,420",38.0,83,55,...,2.18,1.45,3.63,1.97,3.42,2.00,1.35,3.35,1.82,3.17
15,Nott'ham Forest,33,25.7,40.6,38,418,"3,420",38.0,49,43,...,1.29,1.13,2.42,1.26,2.39,1.31,1.00,2.31,1.29,2.29
16,Sheffield Utd,35,25.7,35.8,38,418,"3,420",38.0,31,18,...,0.82,0.47,1.29,0.68,1.16,1.01,0.68,1.69,0.91,1.58
17,Tottenham,29,25.2,61.6,38,418,"3,420",38.0,69,58,...,1.82,1.53,3.34,1.76,3.29,1.79,1.51,3.31,1.75,3.27
18,West Ham,26,28.3,41.1,38,418,"3,420",38.0,58,40,...,1.53,1.05,2.58,1.42,2.47,1.38,0.92,2.29,1.27,2.19
19,Wolves,27,26.6,48.9,38,418,"3,420",38.0,47,36,...,1.24,0.95,2.18,1.13,2.08,1.23,0.84,2.07,1.15,1.98

In [17]:
df.to_csv('FBREF_Sraper.csv', index=True)